<div class="wrapper">

  <div class="side-bar">
    <div class="side-bar-header">
      <div class="header-name">
      </div>
    </div>
  </div>

 <div class="chat"> 
    <div class="chat-header">
      <div class="left-header">
        <div class="header-title">
          <%= link_to client_path(@room.client_id) do %>
            <%= "#{@room.client_name} 様" %>
          <% end %>
        </div>
      </div>
      <div class="right-header">
        <div class="header-btn">
          <%= link_to "トップページへ戻る", root_path %>
        </div>
    </div>
  </div>

  <div class="messages" id="messages">
    <% @messages.each do |message| %>
      <%if (message.user.id == current_user.id) && message.not_important? %>
        <div class="one-message-wrap current">
      <% elsif (message.user.id == current_user.id) && (message.important?) %>
        <div class="one-message-wrap current caution-border"> 
      <% elsif message.important? %>
        <div class="one-message-wrap caution-border">
      <% else %>
        <div class="one-message-wrap">
      <%end%>
        <div class="upper-message">
          <div class="message-user">
            <%= message.user.name%>
          </div>
          <div class="message-date">
            <%= l message.created_at, format: :mini %> 
          </div>
          <% if message.caution? %>
            <%= image_tag ("caution1.png"), size:'22x22', class: 'caution-image' %>
          <% elsif message.important? %>
            <%= image_tag ("caution2.png"), size:'22x22', class: 'caution-image' %>
          <% end %>
        </div>
        <div class="lower-message">
          <div class="message-text">
            <%= message.content %>
          </div>
          <% unless message.no_image? %>
            <%= image_tag (message.picture.thumb.url), class: 'message-image' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div id="putin">
    </div>
  </div>

  <%= form_with model: [@room, @message], html: {class: "form", id: "form"} do |f| %>
    <div class="form-input">
      <%= f.text_field :content,id: "content", class: 'form-message', placeholder: 'ここにメッセージを書き込みましょう' %>
      <%= f.collection_select(:tag_id, Tag.all, :id, :name, {}, {class:"message-tag", id:"tags"}) %> 
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :picture, class: 'hidden' %>
      </label>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <div id="user-name" data-json="<%= current_user.name.to_json %>"></div>
    </div>
    <%= f.submit '送信', class: 'form-submit', id: "submit" %>
  <% end %>

 </div>
</div>