<%= render "shared/header" %>

<div class="body-wrap">
  <div class="nutrition-head">
    <div class="to-root">
      <%= link_to "記録一覧へ戻る", records_path, class:"root-btn to-record" %>
    </div> 
  </div>

  <div class="table-wrap">
    <table class="table">
      <tr>
        <th class="head-column">お客様名</th>
        <th class="head-column">水分合計</th>
        <th class="head-column">6時水分量</th>
        <th class="head-column">朝食事量</th>
        <th class="head-column">朝水分量</th>
        <th class="head-column">10時水分量</th>
        <th class="head-column">昼食事量</th>
        <th class="head-column">昼水分量</th>
        <th class="head-column">15時水分量</th>
        <th class="head-column">夕食事量</th>
        <th class="head-column">夕水分量</th>
        <th class="head-column">20時水分量</th>
        <th class="head-column">記録／更新</th>
      </tr>
        <% @clients.each do |client| %>
          <tr>
            <%= form_with model: @nutrition, url: nutritions_path, method: :post, class: 'record-main', local: true do |f| %>
              <%# <%= render 'shared/error_messages', model: f.object %>
              <td class="client-one-column">
                <div class="nutrition-box">
                  <% if client.no_image? %> 
                    <%= image_tag '/assets/human.png', size: "30x30",class:"nutrition-img-box" %>
                  <% else %>
                    <%= image_tag (client.picture.url), size: "30x30", class:"nutrition-img-box" %>
                  <% end %>
                </div>
                <%= link_to "#{client.name} 様", client_path(client.id), method: :get, class: "record-client-name" %>
                <div class="record-room-number"><%= client.room_number %></div>
              </td>
              <% if client.today_nutritions.nil? %>
                <td class="one-column">
                  <p>未入力</p>
                </td>
                <td class="one-column">
                  <%= f.number_field :six_water_amount, value: 0, class:"water-default", id:"six-water" %> 
                </td>
                <td class="one-column">
                  <%= f.collection_select(:morning_meal_m_id, Meal.all, :id, :name, {selected: 1}, {class:"input-default", id:"morning-main"}) %>
                  <%= f.collection_select(:morning_meal_s_id, Meal.all, :id, :name, {selected: 1}, {class:"input-default", id:"morning-sub"}) %>
                </td>
                <td class="one-column">
                  <%= f.number_field :morning_water_amount, value: 0,  class:"water-default", id:"morning-water" %> 
                </td>
                <td class="one-column">
                  <%= f.number_field :ten_water_amount, value: 0, class:"water-default", id:"ten-water" %> 
                </td>
                <td class="one-column">
                  <%= f.collection_select(:lunch_meal_m_id, Meal.all, :id, :name, {selected: 1}, {class:"input-default", id:"lunch-main"}) %>
                  <%= f.collection_select(:lunch_meal_s_id, Meal.all, :id, :name, {selected: 1}, {class:"input-default", id:"lunch-sub"}) %>
                </td>
                <td class="one-column">
                  <%= f.number_field :lunch_water_amount, value: 0, class:"water-default", id:"lunch-water" %> 
                </td>
                <td class="one-column">
                  <%= f.number_field :fifty_water_amount, value: 0, class:"water-default", id:"fifty-water" %> 
                </td>
                <td class="one-column">
                  <%= f.collection_select(:dinner_meal_m_id, Meal.all, :id, :name, {selected: 1}, {class:"input-default", id:"dinner-main"}) %>
                  <%= f.collection_select(:dinner_meal_s_id, Meal.all, :id, :name, {selected: 1}, {class:"input-default", id:"dinner-sub"}) %>
                </td>
                <td class="one-column">
                  <%= f.number_field :dinner_water_amount, value: 0, class:"water-default", id:"dinner-water" %> 
                </td>
                <td class="one-column">
                  <%= f.number_field :twenty_water_amount, value: 0, class:"water-default", id:"twenty-water" %> 
                </td>
                <%= f.hidden_field :client_id, value: client.id %>
                <td class="one-column">  
                  <%= f.submit "記録する" ,class:"submit-btn", id:"nutrition-submit" %>
                </td>
              <% else %>
                <td class="one-column"> 
                  <%= client.sum_water_amount %>
                </td>
                <td class="one-column">
                  <%= f.number_field :six_water_amount, value: client.today_six_water_amount, class:"water-default", id:"six-water" %> 
                </td>
                <td class="one-column">
                  <%= f.collection_select(:morning_meal_m_id, Meal.all, :id, :name, {selected: client.today_morning_main_meal}, {class:"input-default", id:"morning-main"}) %>
                  <%= f.collection_select(:morning_meal_s_id, Meal.all, :id, :name, {selected: client.today_morning_sub_meal}, {class:"input-default", id:"morning-sub"}) %>
                </td>
                <td class="one-column">
                  <%= f.number_field :morning_water_amount, value: client.today_morning_water_amount, class:"water-default", id:"morning-water" %> 
                </td>
                <td class="one-column">
                  <%= f.number_field :ten_water_amount, value: client.today_ten_water_amount, class:"water-default", id:"ten-water" %> 
                </td>
                <td class="one-column">
                  <%= f.collection_select(:lunch_meal_m_id, Meal.all, :id, :name, {selected: client.lunch_main_meal}, {class:"input-default", id:"lunch-main"}) %>
                  <%= f.collection_select(:lunch_meal_s_id, Meal.all, :id, :name, {selected: client.lunch_sub_meal}, {class:"input-default", id:"lunch-sub"}) %>
                </td>
                <td class="one-column">
                  <%= f.number_field :lunch_water_amount, value: client.today_lunch_water_amount, class:"water-default", id:"lunch-water" %> 
                </td>
                <td class="one-column">
                  <%= f.number_field :fifty_water_amount, value: client.today_fifty_water_amount, class:"water-default", id:"fifty-water" %> 
                </td>
                <td class="one-column">
                  <%= f.collection_select(:dinner_meal_m_id, Meal.all, :id, :name, {selected: client.today_dinner_main_meal}, {class:"input-default", id:"dinner-main"}) %>
                  <%= f.collection_select(:dinner_meal_s_id, Meal.all, :id, :name, {selected: client.today_dinner_sub_meal}, {class:"input-default", id:"dinner-sub"}) %>
                </td>
                <td class="one-column">  
                  <%= f.number_field :dinner_water_amount, value: client.today_dinner_water_amount,  class:"water-default", id:"dinner-water" %> 
                </td>
                <td class="one-column">
                  <%= f.number_field :twenty_water_amount, value: client.today_twenty_water_amount, class:"water-default", id:"twenty-water" %> 
                </td>
                <td class="one-column">
                  <%= f.submit "更新する" ,class:"submit-btn update", id:"nutrition-submit" %>
                </td>
              <% end %>
            <% end %>
          </tr>      
        <% end %>
      </table>
  </div>
</div>
<%= render "shared/footer"%>