<%# <%= render "shared/second-header"%>  

<%= form_with model: @user, url: user_registration_path, method: :post, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      スタッフ情報入力
    </h1>
  </div>
 
  <%# <%= render 'shared/error_messages', model: f.object %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">名前</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :name, class:"input-default", id:"name", placeholder:"例) 田中太郎", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">名前（フリガナ）</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :name_kana, class:"input-default", id:"name-kana", placeholder:"例) タナカタロウ", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">スタッフID</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :staff_number, class:"input-default", id:"staff-number", placeholder:"", maxlength:"20" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
    <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード(確認)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">職位</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.select :position_id,[["--",1],["一般",2],["副主任",3],["主任",4],["係長",5],["課長代理",6],["課長",7]], class:"select-box", id:"user-position-status" %>
    <p class='info-text'>＊現在の職位を選択してください</p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">保有資格</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.select :qualification_id,[["--",1],["保有資格なし",2],["介護職員初任者研修",3],["介護福祉士実務者研修",4],["介護福祉士",5],["認定介護福祉士",6],["ケアマネージャー",7],["社会福祉士",8],["理学療法士",9],["精神保健福祉士",10]], class:"select-box", id:"user-qualification-status" %>
    <p class='info-text'>＊保有する資格の中で最上位のものを選択してください</p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text"></label>
      <span class="indispensable">勤務形態</span>
      <span class="indispensable">必須</span>
    </div>
    <%= f.select :work_style_id,[["--",1],["常勤",2],["非常勤",3]],class:"select-box", id:"user-workstyle-status" %>
  </div>
  <div class="img-upload">
      <div class="weight-bold-text">
        画像【任意】
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :picture, id:"user-image" %>
      </div>
  </div>
  
  <div class='register-btn'>
    <%= f.submit "スタッフ登録" ,class:"register-red-btn" %>
  </div>
  <p class='register-info'>本人情報の登録について</p>
</div>
<% end %>

<%# <%= render "shared/second-footer"%> 
