<body>

<%= render "shared/header" %>

  <div class="body-wrap">
    <div class='form-header'>
      <h1 class='form-header-text'>
        マイページ
      </h1>
    </div>  

    <div class="user-image-content">
      <% if @user.picture.file.nil? %> 
        <%= image_tag '/assets/card.png', class:"user-show-box-img" %>
      <% else %>
        <%= image_tag (@user.picture.url), class:"user-show-box-img" %>
      <% end %>
    </div>

    <table class="show-table">
      <tbody>
        <tr>
          <th class="detail-item">名前</th>
          <td class="detail-value"><%= @user.name %></td>
        </tr>
        <tr>
          <th class="detail-item">社員番号</th>
          <td class="detail-value"><%= @user.staff_number %></td>
        </tr>
        <tr>
          <th class="detail-item">職位</th>
          <td class="detail-value">
            <% case @user.position_id %>
              <% when 1 then %>
                <p>役職なし・派遣</p>
              <% when 2 then %>
                <p>一般</p>
              <% when 3 then %>
                <p>副主任</p>
              <% when 4 then %>
                <p>主任</p>
              <% when 5 then %>
                <p>係長</p>
              <% when 6 then %>
                <p>課長代理</p>
              <% when 7 then %>
                <p>課長</p>
              <% end %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">保有資格</th>
          <td class="detail-value">
            <% case @user.qualification_id %>
              <% when 2 then %>
                <p>保有資格なし</p>
              <% when 3 then %>
                <p>介護職員初任者研修</p>
              <% when 4 then %>
                <p>介護福祉士実務者研修</p>
              <% when 5 then %>
                <p>介護福祉士</p>
              <% when 6 then %>
                <p>認定介護福祉士</p>
              <% when 7 then %>
                <p>ケアマネージャー</p>
              <% when 8 then %>
                <p>社会福祉士</p>
              <% when 9 then %>
                <p>理学療法士</p>
              <% when 10 then %>
                <p>作業療法士</p>
              <% when 11 then %>
                <p>看護師</p>
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">勤務形態</th>
          <td class="detail-value">
            <% case @user.work_style_id %>
              <% when 2 then %>
                <p>常勤</p>
              <% when 3 then %>
                <p>非常勤</p>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="to-root">
      <% unless (current_user.email == "guest@example.com") || (current_user.email == "dispatch@example.com") %>
          <%= link_to "スタッフ情報の編集", edit_user_registration_path, class:"edit-btn" %>
      <% end %>
    </div>

    <div class='form-header'>
      <h1 class='form-header-text'>
        フォロー中のお客様
      </h1>
    </div>  
    <%= render "shared/rooms" %>

    <div class="to-root">
      <%= link_to "トップへ戻る", :root, class:"root-btn" %> 
    </div>

  </div>

    <footer>
      <%= render "shared/footer" %>
    </footer>

</body>
