<div class="room-area">
   <% @clients.each do |client| %>
    <div class="one-room-wrap">
      <div class="pic-area">
        <% if client.no_image? %>
          <%= link_to (image_tag ('human.png'), size:'100x100', class:"client-radius-image"),client_path(client.id), class:"client-img-box" %>
        <% else %>
          <%= link_to (image_tag (client.picture.url), size:'100x100', class:"client-radius-image"),client_path(client.id), class:"client-img-box" %>
        <% end %>
        <% if client.room.present? %>
          <% if client.important_in_days?(@threedays) %> 
            <%= image_tag ("caution2.png"), size:'33x33', class: 'top-caution-image' %>
          <% elsif client.caution_in_days?(@threedays) %>
            <%= image_tag ("caution1.png"), size:'33x33', class: 'top-caution-image' %>
          <% end %>
        <% end %>
      </div>
      <div class="detail-area">
        <%= link_to "#{client.name} 様", client_path(client.id) %>
        <p><%= client.room_number %> 号室</p>
      </div>
      <div class="right-area">
        <div class="message-area">
          <% if @lists.empty? || !@lists.include?(client.id) %>
            <%= link_to "チャットを作成する", rooms_path(client.id), method: :post, class:"message-content" %>
          <% elsif client.message_exists? %>
            <%= link_to room_path(client.room.id),method: :post do %>
              <p class="index-message-content"><%= client.latest_message %></p>
              <p class="message-time">投稿時間：<%= l client.latest_message_time, format: :micro %></p>
            <% end %>
          <% else %>
            <p class="index-message-content"><%= link_to "まだメッセージがありません", room_path(client.room.id),method: :post %></p>
          <% end %>
        </div>
        <div class="score-area">
          <% @records = client.todays_record(@today) %>
          <% @records.each do |record| %>
            <div class="one-record">
              <%= render partial: "shared/record_condition", locals: {record: record, subclass: "top"} %>
              <%= render partial: "shared/modal", locals: {record: record} %>
            </div> 
          <% end %> 
        </div>
      </div>
    </div>
   <% end %>
 </div>