<div class="room-area">
   <% @clients.each do |client| %>
    <div class="one-room-wrap">
      <div class="pic-area">
        <% if client.picture.file.nil? %> 
          <%= image_tag '/assets/human.png', class:"client-box-img" %> 
        <% else %>
          <%= image_tag (client.picture.url), class:"client-box-img" %>
        <% end %>
      </div>
      <div class="detail-area">
        <%= link_to "#{client.name} 様", client_path(client.id) %>
        <p><%= client.room_number %> 号室</p>
      </div>
      <div class="message-area">
        <% if @lists.empty? || !@lists.include?(client.id) %>
          <p class="message-content"><%= link_to "チャットを作成する", rooms_path(client.id), method: :post %></p>
        <% elsif client.room.messages.exists? %>
          <p class="message-content"><%= link_to "#{client.room.messages.last.content}", room_path(client.room.id),method: :post %></p>
          <p class="message-time">投稿時間：<%= client.room.messages.last.created_at %></p>
        <% else %>
          <p class="message-content"><%= link_to "まだメッセージがありません", room_path(client.room.id),method: :post %></p>
        <% end %>
      </div>
    </div>
   <% end %>
 </div>