<%= render "shared/header" %>

<div class="body-wrap">
  <%= form_with model: @record, url: record_path, method: :patch, class: 'record-main', local: true do |f| %>
    <div class='form-wrap'>
      <div class='form-header'>
        <h1 class='form-header-text'>
          記録の入力
        </h1>
      </div>

      <%= render 'shared/error_messages', model: f.object %> 

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">お客様氏名</label>
          <span class="indispensable">必須</span>
        </div>
        <% unless params[:client_id].blank? %>
          <%= f.collection_select(:client_id, Client.all, :id, :name, {selected:params[:client_id]}, {class:"client-default", id:"client-name"}) %>
        <% else %>
          <%= f.collection_select(:client_id, Client.all, :id, :name, {}, {class:"client-default", id:"client-name"}) %> 
        <% end %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">開始時刻</label>
          <span class="indispensable">必須</span>
        </div>
        <div class='form-time-wrap'>
          <%= f.time_select :start_time, {default: Time.current - 15.minute}, prompt:true, ignore_data:true, class:"time-default", id:"start-time" %> 
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">終了時刻</label>
          <span class="indispensable">必須</span>
        </div>
        <div class='form-time-wrap'>
          <%= f.time_select :end_time, {default: Time.current - 1.minute}, prompt:true, ignore_data:true, class:"time-default", id:"end-time" %> 
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">大項目</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:major_item_id, Major.all, :id, :name, {}, {class:"major-default", id:"major-id"}) %> 
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">中項目</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:main_item_id, Main.all, :id, :name, {}, {class:"main-default", id:"main-id"}) %> 
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">小項目</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:sub_item_id, Sub.all, :id, :name, {}, {class:"sub-default", id:"sub-id"}) %> 
      </div>
      <div class="meal-form-wrap" id="meal-form-wrap">
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">食事量（主食）</label>
          </div>
          <%= f.collection_select(:meal_m_id, Meal.all, :id, :name, {}, {class:"input-default", id:"sub-id"}) %> 
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">食事量（副食）</label>
          </div>
          <%= f.collection_select(:meal_s_id, Meal.all, :id, :name, {}, {class:"input-default", id:"sub-id"}) %> 
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">水分量（単位：ml）</label>
          </div>
          <%= f.text_area :water_amount, class:"carry-default", id:"carry-id", default: 0 , placeholder:"例：200" %> 
        </div>
      </div>
      <div class="exc-form-wrap" id="exc-form-wrap">
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">便状態</label>
          </div>
          <%= f.collection_select(:exc_shape_id, Shape.all, :id, :name, {selected: 0}, {class:"input-default", id:"exc-shape-id"}) %> 
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">便量</label>
          </div>
          <%= f.collection_select(:exc_amount_id, Amount.all, :id, :name, {selected: 0}, {class:"input-default", id:"exc-amount-id"}) %> 
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">尿量</label>
          </div>
          <%= f.text_area :urine_amount, class:"carry-default", id:"carry-id", default: 0 ,placeholder:"例：450" %> 
        </div>
      </div>  
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">実施ステータス</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:carryout_id, Carry.all, :id, :name, {selected: 2}, {class:"carry-default", id:"carry-id"}) %> 
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">詳細な記録</label>
        </div>
        <%= f.text_area :memo, class:"input-default", id:"memo" %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">この記録をリマインドにする</label>
        </div>
        <%= f.check_box :remind,{class:"check-default", id:"remind-check"}, true, false  %> 
      </div>
      <div class='register-btn'>
        <%= f.submit "上記の内容を記録する" ,class:"register-red-btn" %>
      </div>
  <% end %>
</div>

<%= render "shared/footer" %>