<%= render "shared/header" %>

<div class="body-wrap">
  <div class="record-head">
    <div class="rh-btn">
      <%= link_to "食事・水分の記録", clients_records_create_path, method: :get, class: "water-record-text rh-text" %>
    </div>
    <div class="rh-btn">
      <%= link_to "排泄の記録", clients_records_create_path, method: :get, class: "excretion-record-text rh-text" %>
    </div>
    <div class="bulk-save-btn rh-btn">
      <%= link_to "プランの一括追加", clients_records_create_path, method: :post, class: "bulk-save-text rh-text" %>
    </div>
  </div>

  <div class="table-wrap">
    <table class="table">

      <thead>
        <tr class="table-header">
          <th class="client-column">お客様</th>
          <th class="client-column">食事量</th>
          <th class="client-column">水分量</th>
          <% 24.times do |i| %>
            <th class="head-column"><%= i.to_s + ":00" %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td class="client-one-column" rowspan="3">
              <%= link_to "#{client.name} 様", client_path(client.id), method: :get %>
              <div class="record-room-number"><%= client.room_number %></div>
              <%= link_to "一括実施", client_record_path(client_id: client.id), method: :patch %>
            </td>

            <%# 食事量の表示 %>
            <td class="meal-one-column">
              <% if client.records.where(start_time: @morning).where(main_item_id: 3).empty? %>
                <p>未入力</p>
              <% else %> 
                <div class="amount-record"><%= Meal.find_by(id: client.records.where(start_time: @morning).first.meal_m_id).name %>/<%= Meal.find_by(id: client.records.where(start_time: @morning).first.meal_s_id).name %></div>
              <% end %>
            </td>

            <%# 水分量の表示 %>
            <td class="client-one-column" rowspan="3">
              <% if client.records.where(start_time: @default...@defaultend).where(main_item_id: 3).empty? %>
                <p>未入力</p>
              <% else %>  
                <div class="amount-record"><%= client.records.where(start_time: @default...@defaultend).pluck(:water_amount).sum %></div>
              <% end %>
            </td>
            
            <% 24.times do |i| %>
              <% if client.records.where(start_time: @default+i.hour...@default+i.hour+1.hour).exists? %>
                <td class="one-column" rowspan="3">
                  <div class="points-wrap">
                    <% client.records.where(start_time: @default+i.hour...@default+i.hour+1.hour).each do |record| %>
                      <% case record.sub_item_id %>
                      <% when 2..10 then %>
                        <% if record.carryout_id == 1 %>
                          <img src="../../assets/excretion.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print" id="point">
                        <% else %>
                          <img src="../../assets/excretion.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print carryout" id="point">
                        <% end %>
                      <% when 11..16 then %>
                        <% if record.carryout_id == 1 %>
                          <img src="../../assets/meal.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print" id="point">
                        <% else %>
                          <img src="../../assets/meal.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print carryout" id="point">
                        <% end %>
                      <% when 23..29 then %>
                        <% if record.carryout_id == 1 %>
                          <img src="../../assets/bathing.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print" id="point">
                        <% else %>
                          <img src="../../assets/bathing.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print carryout" id="point">
                        <% end %>
                       <% when 35..40 then %>
                        <% if record.carryout_id == 1 %>
                          <img src="../../assets/oral.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print" id="point">
                        <% else %>
                          <img src="../../assets/oral.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print carryout" id="point">
                        <% end %>
                      <% when 41 then %>
                        <% if record.carryout_id == 1 %>
                          <img src="../../assets/morning.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print" id="point">
                        <% else %>
                          <img src="../../assets/morning.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print carryout" id="point">
                        <% end %>                      
                      <% when 42 then %>
                        <% if record.carryout_id == 1 %>
                          <img src="../../assets/night.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print" id="point">
                        <% else %>
                          <img src="../../assets/night.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print carryout" id="point">
                        <% end %>
                      <% when 43 then %>
                        <% if record.carryout_id == 1 %>
                          <img src="../../assets/bed.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print" id="point">
                        <% else %>
                          <img src="../../assets/bed.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print carryout" id="point">
                        <% end %>
                      <% when 58..95 then %>
                        <% if record.carryout_id == 1 %>
                          <img src="../../assets/nurthing.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print" id="point">
                        <% else %>
                          <img src="../../assets/nurthing.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print carryout" id="point">
                        <% end %>  
                      <% else %>
                        <% if record.carryout_id == 1 %>
                          <img src="../../assets/note.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print" id="point">
                        <% else %>
                          <img src="../../assets/note.png" data-id=<%= record.id %> data-carryout_id=<%= record.carryout_id %> class="print carryout" id="point">
                        <% end %>
                      <% end %>
                      <div class="modal-back" id="modal-back">
                        <div class="modal">
                          <h2>記録の詳細</h2>
                          <p>中項目：<%= Main.find(record.main_item_id).name %></p>
                          <p>小項目：<%= Sub.find(record.sub_item_id).name %></p>
                          <p>詳細：<%= record.memo %></p>
                          <p>時間：<%= l record.start_time, format: :mini %> 〜 <%= l record.end_time, format: :mini %></p>
                          <p>実施ステータス：<%= Carry.find(record.carryout_id).name %></p>
                          <p>記録者：<%= User.find(record.user_id).name %></p>
                          <div class="modal-btn">
                            <% if (current_user.id == record.user_id) || (current_user.position_id > 3 ) %>
                              <%= link_to "この記録を編集", edit_record_path(record.id), method: :get, class: "record-btn edit" %>
                            <% end %>
                            <% if (current_user.id == record.user_id) || (current_user.position_id > 5 ) %> 
                              <%= link_to "この記録を削除", record_path(record.id), method: :delete, class: "record-btn delete", data: {confirm: "削除した記録は元に戻せません。削除してもよろしいですか？"} %>
                            <% end %>
                          </div>
                        </div> 
                      </div>
                    <% end %>
                  <%= link_to "", new_record_path(client_id: client.id), method: :get, class:"points-wrap" %>
                  </div>
                </td>
              <% else %>
                <td class="one-column" rowspan="3">
                  <%= link_to "", new_record_path(client_id: client.id), method: :get, class:"points-wrap" %>
                </td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <td class="meal-one-column">
              <% if client.records.where(start_time: @lunch).where(main_item_id:3).empty? %>
                <p>未入力</p>
              <% else %>  
                <div class="amount-record"><%= Meal.find_by(id: client.records.where(start_time: @lunch).first.meal_m_id).name %>/<%= Meal.find_by(id: client.records.where(start_time: @lunch).first.meal_s_id).name %></div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="meal-one-column">
              <% if client.records.where(start_time: @evening).where(main_item_id:3).empty? %>
                <p>未入力</p>
              <% else %>  
                <div class="amount-record"><%= Meal.find_by(id: client.records.where(start_time: @evening).first.meal_m_id).name %>/<%= Meal.find_by(id: client.records.where(start_time: @evening).first.meal_s_id).name %></div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      
    </table>
  </div>
</div>

<%= render "shared/footer" %>