<%= render "shared/header" %>

<div class="body-wrap">
  <div class="record-head">
    <div class="rh-btn">
      <%= link_to "食事・水分の記録", new_nutrition_path, method: :get, class: "water-record-text rh-text" %>
    </div>
    <div class="rh-btn">
      <%= link_to "新規記録", new_record_path, method: :get, class: "excretion-record-text rh-text" %>
    </div>
    <div class="bulk-save-btn rh-btn">
      <%= link_to "プランの一括追加", clients_records_create_path, method: :post, class: "bulk-save-text rh-text" %>
    </div>
  </div>

  <div class="table-wrap">
    <table class="table">

      <thead>
        <tr class="table-header">
          <th class="client-column">お客様</th>
          <th class="client-column">食事量</th>
          <th class="client-column">水分量</th>
          <% 24.times do |i| %>
            <th class="head-column"><%= i.to_s + ":00" %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td class="client-one-column" rowspan="3">
              <%= link_to "#{client.name} 様", client_path(client.id), method: :get, class: "record-client-name" %>
              <div class="record-room-number"><%= client.room_number %></div>
              <%= link_to "一括実施", client_record_path(client_id: client.id), method: :patch, class:"bulk-btn" %>
            </td>

            <%# 食事量の表示 %>
            <td class="meal-one-column">
              <% if client.today_nutritions.nil? %>
                <p>未入力</p>
              <% else %>
                <div class="amount-record"><%= client.morning_main_meal %>/<%= client.morning_sub_meal %></div> 
              <% end %>
            </td>

            <%# 水分量の表示 %>
            <td class="client-one-column" rowspan="3">
              <% if client.today_nutritions.nil? %>
                <p>未入力</p>
              <% else %>
                <%= client.sum_water_amount %>
              <% end %>
            </td>
            
            <% 24.times do |i| %>
              <% if client.records.where(start_time: @default+i.hour...@default+i.hour+1.hour).exists? %>
                <td class="one-column" rowspan="3">
                  <div class="points-wrap">
                    <% @records = client.records.where(start_time: @default+i.hour...@default+i.hour+1.hour) %>
                    <% @records.each do |record| %>
                      
                      <%= render partial: "shared/record_condition", locals: {record: record, subclass: "m-rec"} %>
                      <%= render partial: "shared/modal", locals: {record: record} %>
                      
                    <% end %>
                  <%= link_to "", new_record_path(client_id: client.id, start_time: i), method: :get, class:"points-wrap" %>
                  </div>
                </td>
              <% else %>
                <td class="one-column" rowspan="3">
                  <%= link_to "", new_record_path(client_id: client.id, start_time: i), method: :get, class:"points-wrap" %>
                </td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <td class="meal-one-column">
              <% if client.today_nutritions.nil? %>
                <p>未入力</p>
              <% else %>
                <div class="amount-record"><%= client.lunch_main_meal %>/<%= client.lunch_sub_meal %></div> 
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="meal-one-column">
              <% if client.today_nutritions.nil? %>
                <p>未入力</p>
              <% else %>
                <div class="amount-record"><%= client.dinner_main_meal %>/<%= client.dinner_sub_meal %></div> 
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      
    </table>
  </div>
</div>

<%= render "shared/footer" %>