<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= "#{@room.client.name} 様" %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-btn">
      <%= link_to "チャットを終了する", root_path %>
    </div>
  </div>
</div>

<div id="newmessage">
</div>

<div class="messages" id="messages">
 <div id="scroll-inner">
 <% @messages.each do |message| %>
  <div class="one-message-wrap">
    <div class="upper-message">
      <div class="message-user">
        <%= message.user.name%>
      </div>
      <div class="message-date">
        <%= message.created_at, format: :mini %> 
      </div> 
    </div>
    <div class="lower-message">
      <div class="message-content">
        <%= message.content %>
      </div>
      <%= image_tag message.image.variant(resize:'500x500'), class: 'message-image' if message.picture.attached? %>
    </div>
   </div>
 <% end %>
 </div>
</div>

<%= form_with url: "/clients/rooms/:room_id/messages", method: :post,id:"forn" do |f|%>
  <div class="form-input">
    <%= f.text_field :content,id: "content", class: 'form-message', placeholder: 'ここにメッセージを書き込みましょう' %>
    <%= f.collection_select(:tag_id, Tag.all, :id, :name, {}, {class:"message-tag", id:"tags"}) %> 
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :picture, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit', id: "submit" %>
<% end %>