<%= render "shared/header" %>

<div class="body-wrap">
  <% if user_signed_in? %>
    <div class="top-report-area">
      <%= render "rooms/report_bar" %>
    </div>
    <div class="search-wrap">
      <%= render "rooms/search_bar" %>
    </div>
    <%= render "shared/rooms"%>
  <% end %>
</div>

<%= render "shared/footer" %>