<div class="user-data">
  <% if user_signed_in? %>
    <li><%= link_to current_user.name, "users/edit", class: "user-nickname" %></li>
    <li><%= link_to 'ログアウト', "/users/sign_out", method: :delete, class: "logout" %> </li>
    <% else %> 
    <li><%= link_to 'ログイン', "users/sign_in",method: :get, class: "login" %></li>
    <li><%= link_to '新規登録', "users/sign_up", class: "sign-up" %></li>
  <% end %>
</div>

<% if user_signed_in? %>
  <h2><%= link_to 'お客様情報登録', new_client_path, method: :get %></h2>  
<% end %>

<div class="search-wrap">
  <%= form_with(scope: :search, url: search_clients_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :name, placeholder: "名前で検索", value: @search_params[:name], class: "search-input" %>
    <%= form.text_field :name_kana, placeholder: "フリガナで検索", value: @search_params[:name_kana], class: "search-input" %>
    <%= form.text_field :room_number, placeholder: "居室番号で検索", value: @search_params[:room_number], class: "search-input" %>
    <%= button_tag type: :submit, class:"btn" do %>
      <%= image_tag "mushi.png", class: "search-btn" %>
    <% end %>
  <% end %>
</div>

<% if user_signed_in? %>
 <div class="room-area">
   <% @clients.each do |client| %>
    <div class="one-room-wrap">
      <div class="pic-area">
        <%# <%= if  %>
        <%= image_tag '/assets/human.png', size: '100x100', class: "room-image" %>
      </div>

      <div class="detail-area">
        <%= link_to "#{client.name} 様", client_path(client.id) %>
        <p><%= client.room_number %> 号室</p>
      </div>

      <div class="message-area">
        <% if @lists.empty? || !@lists.include?(client.id) %>
          <p class="message-content"><%= link_to "チャットを作成する", rooms_path(client.id), method: :post %></p>
        <% elsif client.room.messages.exists? %>
          <p class="message-content"><%= link_to "#{client.room.messages.last.content}", room_path(client.room.id),method: :post %></p>
          <p class="message-time">投稿時間：<%= client.room.messages.last.created_at %></p>
        <% else %>
          <p class="message-content"><%= link_to "まだメッセージがありません", room_path(client.room.id),method: :post %></p>
        <% end %>
      </div>

    </div>
   <% end %>
 </div>
<% end %>
