<%= render "shared/header" %>

<div class="body-wrap">
  
  <div class="form-header">
    <div class="report-index-text">
      事故報告書一覧
    </div>
    <div class="new-report-btn">
      <%= link_to "新規作成", new_report_path, method: :get, class:"new-report-text" %>
    </div>
  </div>
  <div class="report-index">
    <table>
      <tr class="r-index-tr">
        <th class="r-index-th">ID</th>
        <th class="r-index-th">お客様名</th>
        <th class="r-index-th">居室番号</th>
        <th class="r-index-th">事故発生日</th>
        <th class="r-index-th mobile-none">承認</th>
        <th class="r-index-th" colspan="3"></th>
      </tr>
      <% @report.each do  |report| %>
        <div class="one-report">
          <tr class="r-index-tr">
            <td class="r-index-td"><%= report.id %></td>
            <td class="r-index-td"><%= report.client.name %></td>
            <td class="r-index-td"><%= report.client.room_number %></td>
            <td class="r-index-td"><%= l report.occ_time, format: :mini %></td>
            <td class="r-index-td mobile-none"><%= report.check.name %></td>
            <td class="r-index-td link show" ><%= link_to "詳細", report_path(report.id), method: :get, class:"rep-btn" %></td>
            <% if (current_user.id == report.user_id) || (current_user.position_id > 3) || ([5,6,7,11].include?(current_user.qualification_id)) %>
              <td class="r-index-td link edit"><%= link_to "編集", edit_report_path(report.id), method: :get, class:"rep-btn" %></td>
            <% end %>
            <% if (current_user.position_id > 6) || (current_user.id == report.user_id) %>
              <td class="r-index-td link destroy"><%= link_to "削除", report_path(report.id), method: :delete, class:"rep-btn", data: {confirm: "削除した記録は元に戻せません。削除してもよろしいですか？"} %></td>
            <% end %>
          <tr>
        </div>
      <% end %>
    </table>
  </div>
</div>

<%= render "shared/footer" %>