<%= render "shared/header" %>
  <div class="body-wrap">
    <%= form_with model: @report, url: reports_path, method: :post, class: 'record-main', local: true do |f| %>
      <div class='new-report-wrap'>
        <div class='form-header'>
          <h1 class='form-header-text'>
            事故報告書の記入
          </h1>
        </div>
        <%= render 'shared/error_messages', model: f.object %>
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">お客様氏名</label>
            <span class="indispensable">必須</span>
          </div>
          <% unless params[:client_id].blank? %>
            <%= f.collection_select(:client_id, Client.all, :id, :name, {selected:params[:client_id]}, {class:"client-default", id:"client-name"}) %>
          <% else %>
            <%= f.collection_select(:client_id, Client.all, :id, :name, {}, {class:"client-default", id:"client-name"}) %> 
          <% end %>
        </div>
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">事故の発生時刻</label>
            <span class="indispensable">必須</span>
          </div>
          <div class='form-time-wrap'>
            <%= f.datetime_select :occ_time, {default: Time.current - 15.minute}, prompt:true, ignore_data:true, class:"time-default", id:"start-time" %> 
          </div>
        </div>
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">事故の発生場所</label>
            <span class="indispensable">必須</span>
          </div>
            <%= f.collection_select(:place_id, Place.all,:id, :name, {}, {class:"input-default", id:"occ-time"}) %> 
        </div>
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">事故の種別</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"input-default", id:"genre-id"}) %> 
        </div>
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">事故の状況</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:res_id, Re.all, :id, :name, {}, {class:"input-default", id:"res-id"}) %> 
        </div>
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">受傷の程度</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:level_id, Level.all, :id, :name, {}, {class:"input-default", id:"level-id"}) %> 
        </div>
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">事故の内容</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :content, class:"input-long", id:"sub-id" %> 
        </div>
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">対処の詳細</label>
          </div>
          <%= f.text_area :coping, class:"input-long", id:"sub-id" %> 
        </div>
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">施設内での報告</label>
          </div>
          <%= f.collection_select(:contact_id, Contact.all, :id, :name, {}, {class:"input-default", id:"carry-id"}) %>
        </div>
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">受診（入院）した医療機関名</label>
          </div>
          <%= f.text_area :hospital, class:"input-default", id:"exc-shape-id" %> 
        </div>
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">家族への報告・説明日</label>
          </div>
          <div class="time-default">
            <%= f.date_select(:desc_date, {class:"time-default", id:"desc-date"}) %>
          </div>
        </div>
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">家族への報告担当者</label>
          </div>
          <%= f.collection_select(:desc_user, User.all, :id, :name, {class:"input-default", id:"carry-id"}) %> 
        </div>  
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">家族への説明内容</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :desc_content, class:"input-long", id:"carry-id" %> 
        </div>
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">再発防止策の内容（具体的に記入してください）</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :count_content, class:"input-long", id:"carry-id" %> 
        </div>
        <div class="one-form">
          <div class='form-text-wrap'>
            <label class="form-text">承認レベル</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:check_id, Check.all, :id, :name, {selected: 0}, {class:"carry-default", id:"carry-id"}) %> 
        </div>
        <div class='register-btn'>
          <%= f.submit "上記の内容を記録する" ,class:"register-red-btn" %>
        </div>
      </div>
    <% end %>
  </div>

<%= render "shared/footer" %>